/*
Colors:

Maroon:   #BA5370
Beige:    #F4E2D8
Grey:     #5d5b5b
Whitish:  #FBFBFB
White:    #fff
Black:    #000;

*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000;
  background: linear-gradient(
    to right bottom,
    #BA5370,
    #F4E2D8
    ) no-repeat center center fixed;
  background-size: cover;

  animation: moveInBottom .1s ease-out .2s;
  animation-fill-mode: backwards;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  font-size: 8vh;
  text-align: center;
}

/* h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  font-size: 5vh;
  text-align: center;
} */

h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000;
  font-size: 5vh;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.4);
  padding: 20px 40px;
  margin: 20px 0px;
}

p {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  background: #fff;
  margin: 3%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.4);

  line-height: 33px;
  font-weight: 300;
  font-size: 1.5em;

}

.projects {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;

  width: 275px;
  height: 300px;
  margin: 20px;
  margin-bottom: 40px;
  background: #fff;

  line-height: 100px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.4);
  border-radius: 5px;
}

.project:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0px 40px rgba(255, 0, 0, 0.4);
}

.black-box {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  /* background: #F4E2D8; */
  background: linear-gradient(
    to right bottom,
    #5d5b5b,
    #F4E2D8
    ) no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 200px;
  position: relative;
}

.logo-1 {
  background: url(../img/Bitvisuals.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  border: 1px rgba(93, 91, 91, 0.4) solid;
  outline: 1px rgba(93, 91, 91, 0.4) solid;
}

.logo-2 {
  background: url(../img/HN-Client.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  border: 1px rgba(93, 91, 91, 0.4) solid;
  outline: 1px rgba(93, 91, 91, 0.4) solid;
}

.logo-3 {
  background: url(../img/Guitar-CLI.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  border: 1px rgba(93, 91, 91, 0.4) solid;
  outline: 1px rgba(93, 91, 91, 0.4) solid;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
